<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="../../css/master.css">
    <link rel="stylesheet" href="../../css/background.css">
    <link rel="stylesheet" href="../../css/login.css">
    <link rel="stylesheet" href="https://use.typekit.net/xjn3qjp.css">
  </head>
  <body>

    <section>
        <form action="php/controller/login.php" method="post" autocomplete="off">
          <h1>Ingresa</h1>
          <div>
            <span class="barcolor"></span>
            <input type="text" name="user" id="username" class="formInput">
            <label for="username" id="usernameLabel" class="inputLabel">Usuario</label>
          </div>
          <div>
            <span class="barcolor"></span>
            <input type="password" name="pass" id="password" class="formInput">
            <label for="password" id="usernamepass" class="inputLabel">Contraseña</label>
          </div>
          <a href="main.html">siguiente vista</a>
          <input type="submit" value="Ingresar" id="submit">
        </form>
        <p>¿Olvidaste tú contraseña?</p>
    </section>

    <img src="img/C21logo.svg" alt="Logo" id="logo">

    <script type="text/javascript" src="Javascript/master.js"></script>
  </body>
</html>
