<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Main</title>
    <link rel="stylesheet" href="../../css/master.css">
    <link rel="stylesheet" href="../../css/second.css">
  </head>
  <body>
    <header>
      <img src="../../img/English21.svg" alt="Logo">
      <img src="../../img/C21logowhite.svg" alt="Logo">
    </header>

    <section>
      <h1>LESSONS</h1>
      <div class="navbar">
        <a href="#" class="button">1 Instructions</a>
        <a href="#" class="button">2 My ID</a>
        <a href="#" class="button">3 My Program</a>
      </div>

      <div class="container" id="road">
        <div id="lessons">
          <a href="lessons.html" class="roadicon"><img src="../../img/lessons/abc.svg" width="100%" alt="The ABC"></a>
          <a href="routing.js" class="roadicon"><img src="../../img/lessons/body.svg" height="100%" alt="The ABC"></a>
          <a href="routing.js" class="roadicon"><img src="../../img/lessons/thenumbers.svg" height="100%" alt="The Numbers"></a>
          <a href="routing.js" class="roadicon"><img src="../../img/lessons/personalinformation.svg" height="60%" alt="Personal information"></a>
          <a href="routing.js" class="roadicon"><img src="../../img/lessons/personalpronouns.svg" height="100%" alt="Personal pronouns"></a>
          <a href="routing.js" class="roadicon"><img src="../../img/lessons/animals.svg" height="100%" alt="Animals"></a>
          <a href="routing.js" class="roadicon"><img src="../../img/lessons/foodanddrinks.svg" height="100%" alt="Food and drinks"></a>
          <a href="routing.js" class="roadicon"><img src="../../img/lessons/body.svg" height="100%" alt="Parts of the body"></a>
          <a href="routing.js" class="roadicon"><img src="../../img/lessons/thisthese.svg" height="100%" alt="This-These"></a>
          <a href="routing.js" class="roadicon"><img src="../../img/lessons/thatthose.svg" height="100%" alt="That-thosea"></a>
          <a href="routing.js" class="roadicon"><img src="../../img/lessons/leccion 11.svg" height="100%" alt="That-those"></a>
          <a href="routing.js" class="roadicon"><img src="../../img/lessons/thecolors.svg" height="70%" alt="Colors"></a>
          <a href="routing.js" class="roadicon"><img src="../../img/lessons/occupations.svg" height="100%" alt="To be and occupations"></a>
          <a href="routing.js" class="roadicon"><img src="../../img/lessons/sports.svg" height="100%" alt="Sports"></a>
          <a href="routing.js" class="roadicon"><img src="../../img/lessons/leccion 16.svg" height="100%" alt="Sports"></a>
          <a href="routing.js" class="roadicon"><img src="../../img/lessons/directions.svg" height="80%" alt="Directions"></a>
          <a href="routing.js" class="roadicon"><img src="../../img/lessons/family.svg" height="80%" alt="Family"></a>
          <a href="routing.js" class="roadicon"><img src="../../img/lessons/hours.svg" height="70%" alt="The hours"></a>
          <a href="routing.js" id="start"><img src="../../img/lessons/start.svg" height="100%" alt="Start"></a>
          <a href="routing.js" id="end"><img src="../../img/lessons/end.svg" height="100%" alt="END"></a>
          <img src="../../img/lessons/Recorrido.svg" alt="camino" width="100%">
        </div>
      </div>
    </section>
  </body>
</html>
