<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../css/background.css">
  <link rel="stylesheet" href="../../css/master.css">
  <link rel="stylesheet" href="../../css/profile.css">
  <link rel="stylesheet" href="https://use.typekit.net/xjn3qjp.css">
  <title>Document</title>
</head>
<body>
  <header>
    <img src="../../img/English21.svg" alt="Logo">
    <img src="../../img/C21logowhite.svg" alt="Logo">
  </header>

  <section id="main">
    <div class="container">
      <div class="profilePics">
        <div class="pic">
          <img src="../../img/avatars/man1.svg" alt="">
        </div>
        <div class="pic">
          <img src="../../img/avatars/man2.svg" alt="">
        </div>
        <div class="pic">
          <img src="../../img/avatars/man3.svg" alt="">
        </div>
        <div class="pic">
          <img src="../../img/avatars/man4.svg" alt="">
        </div>
        <div class="pic">
          <img src="../../img/avatars/woman1.svg" alt="">
        </div>
        <div class="pic">
          <img src="../../img/avatars/woman2.svg" alt="">
        </div>
        <div class="pic">
          <img src="../../img/avatars/woman3.svg" alt="">
        </div>
        <div class="pic">
          <img src="../../img/avatars/woman4.svg" alt="">
        </div>
        <div class="pic">
          <img src="../../img/avatars/woman5.svg" alt="">
        </div>
        <div class="pic">
          <img src="../../img/avatars/woman6.svg" alt="">
        </div>
      </div>
      <div class="profileInf">
        <div id="selectedPic" class="pic">
          <img src="../../img/avatars/man4.svg" alt="">
        </div>
        <table>
          <tr>
            <td class="variable">Primer Nombre:</td>
            <td class="value"><input type="text" name="" id=""></td>
          </tr>
          <tr>
            <td class="variable">Apellido:</td>
            <td class="value"><input type="text" name="" id=""></td>
          </tr>
          <tr>
            <td class="variable">Padre:</td>
            <td class="value"><input type="text" name="" id=""></td>
          </tr>
          <tr>
            <td class="variable">Fecha de nacimiento:</td>
            <td class="value"><input type="text" name="" id=""></td>
          </tr>
          <tr>
            <td class="variable">Correo Electrónico:</td>
            <td class="value"><input type="text" name="" id=""></td>
          </tr>
          <tr>
            <td class="variable">Contraseña:</td>
            <td class="value"><input type="text" name="" id=""></td>
          </tr>
          <tr>
            <td class="variable">Repetir Contraseña:</td>
            <td class="value"><input type="text" name="" id=""></td>
          </tr>
        </table>
      </div>
    </div>
  </section>


  <script src="../../JS/profile.js"></script>
</body>
</html>
